agora-token-builder==1.0.0
psycopg2-binary==2.9.5
asgiref==3.4.1
djongo
dnspython
Django
bing_image_downloader
pywhatkit
googletrans==3.1.0a0
pyttsx3
pydub
google-images-download
googlesearch-python
googletrans==3.1.0a0
playsound==1.3.0
pywhatkit==5.4
wikipedia==1.4.0
xhtml2pdf==0.2.9
xlsx2pdf==1.0.4
gTTS==2.3.1
openpyxl==3.0.10
pdf2docx==0.5.6
pdf2image==1.16.3
langdetect
fpdf==1.7.2
django-summernote
django-widget-tweaks==1.4.8
pytesseract 
docx 
python-docx 
Pillow
PyPDF2
whitenoise