{% extends 'teacher/teacherbase.html' %} {% block content %}

<!-- component -->

<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
<!-- component -->
<section class="container px-4 mx-auto">
  <form>
    {% csrf_token %}
    <div class="flex flex-col">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
              <thead class="bg-gray-50 dark:bg-gray-800">
                <tr>
                  <th scope="col"
                    class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <div class="flex items-center gap-x-3">
                      <input type="checkbox"
                        class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700" />
                      <button class="flex items-center gap-x-2">
                        <span>Roll NO</span>

                        <svg class="h-3" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                            fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                          <path
                            d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                            fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                          <path
                            d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                            fill="currentColor" stroke="currentColor" stroke-width="0.3" />
                        </svg>
                      </button>
                    </div>
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    Name
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    Date
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    ClassRoom ID
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    Purchase
                  </th>

                  <th scope="col" class="relative py-3.5 px-4">
                    <span class="sr-only">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                {% for i in people %}
                <tr>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                    <div class="inline-flex items-center gap-x-3">
                      <input type="checkbox"
                        class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700" />

                      <span>#{{ i.0.role_no }}</span>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                    {{ i.0.get_name }}
                  </td>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                    <div
                      class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 text-emerald-500 bg-emerald-100/60 dark:bg-gray-800">
                      <h2 class="text-sm font-normal">{{ date }}</h2>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                    <div class="flex items-center gap-x-2">
                      <img class="object-cover w-8 h-8 rounded-full" src="{{ detail.class_image }}" alt="" />
                      <div>
                        <h2 class="text-sm font-medium text-gray-800 dark:text-white">
                          {{ detail.subject_code }}
                        </h2>
                        <p class="text-xs font-normal text-gray-600 dark:text-gray-400">
                          {{ detail.class_name }}
                        </p>
                      </div>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                    <div id="val{{ i.1 }}" style="visibility: hidden;">{{ i.0.user_name }}~~{{ detail.subject_code }}
                    </div>
                    <select name="cars" id="cars{{ i.1 }}" name="{{ i.0.user_name }}">
                      <option value="Present">Present</option>
                      <option value="Absent">Absent</option>
                      <option value="OverDuty">OverDuty</option>
                    </select>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-between mt-6">
      <button onclick="generate_datas('/update_attendes',{{ people|length }})" value="Submit"
        style="margin-bottom: 100px;"
        class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">Submit</button>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-5 h-5 rtl:-scale-x-100">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
      </svg>
      </a>
    </div>
</section>

<script>
  function generate_datas(url, len) {
    let ids = [];
    for (i = 0; i < len; i++) {
      ids.push('#cars' + i);
    }
    console.log(ids)

    send_data(url, ids);
  }
  function send_data(url, datas) {
    let ids = [];
    for (i = 0; i < datas.length; i++) {
      ids.push($('#val' + i).text());
    }
    var data = new FormData();

    data.append("csrfmiddlewaretoken", $("input[name=csrfmiddlewaretoken]").val());
    for (let i = 0; i < datas.length; i++) {
      data.append(datas[i], $(datas[i]).val() + "~~" + ids[i])
    }
    data.append("length", {{ people| length}})
  console.log(data)
  $.ajax({
    method: "POST",
    url: url,
    processData: false,
    contentType: false,
    mimeType: "multipart/form-data",
    data: data,
    success: function (data) {
      if (data.status == "Upload Done") {
        console.log("Uploading Done successfully")
      }
      else {
        console.log('error')
      }
    }
  })
              }
</script>

{% endblock content%}