<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChackPoint</title>
    <link rel="stylesheet" href="{%  static 'tools/css/listout.css' %}">
    
</head>
<body>
    <!-- Menu Part -->
    <div class="menu">
                                                
        <ul class="list">
            <li><a href="/home">Home</a></li>
            <li><a href="/ClassHomePage">Class</a></li>
            <li><a href="/NotesHome">Notes</a></li>
            <li><a href="/mcq">MCQ</a></li>
            <li><a href="/ToolMenu">Tools</a></li>
        </ul>
    
    </div>
    <div class="total">
        <div class="body1">
            <video autoplay muted loop class="myVideo">
                <source id="src" src="{%  static 'tools/images/video2.mp4' %}" type="video/mp4">
            </video>
    </div>
    <div class="box">
        <div class="inner" style="margin-top: 230px;">
            
            <div class="img">

            </div>
            <h1> KeyWord to paragraph </h1>
            <h2 style="margin-top: -26px;font-size: 15px;"></h2>
            <textarea style="width: 214px;height: 91px;box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;border-radius: 14px;border: none;outline: none;margin-top: 32px;" class="text"  id="text" placeholder="Enter The KeyWord"></textarea>
            <textarea id="PassWord" class="PassWord" style="width: 214px;height: 91px;box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;border-radius: 14px;border: none;outline: none;margin-top: 32px;" placeholder="This is the output text"></textarea>
            <button class="btn" id="btn" onclick="choose_file()">scrp</button>
            

<script>
    function choose_file() {

        var textbox1 = document.getElementById("text").value;
        var textbox2 = document.getElementById("PassWord");

        console.log(textbox1);
        
        fetch("/keywordtopara", {
             method: "POST",
             body: JSON.stringify({ Textbox1: textbox1}),
           }).then((_res) => _res.json())
           .then(_data => {
               console.log(_data.translated)
               textbox2.value = _data.translated
           });
         
    }
</script>

</body>
</html>