{% extends "student_base.html" %}

{% block Componet %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href=
"https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
          rel="stylesheet">
</head>
<body>
    <!-- component -->
<div class="flex h-screen w-screen items-center justify-center p-5">
    <div class="w-full rounded-lg bg-gray-200 p-5 w-2/4">
      <div class="flex">
        <div class="flex w-10 items-center justify-center rounded-tl-lg rounded-bl-lg border-r border-gray-200 bg-white p-5">
          <svg viewBox="0 0 20 20" aria-hidden="true" class="pointer-events-none absolute w-5 fill-gray-500 transition">
            <path d="M16.72 17.78a.75.75 0 1 0 1.06-1.06l-1.06 1.06ZM9 14.5A5.5 5.5 0 0 1 3.5 9H2a7 7 0 0 0 7 7v-1.5ZM3.5 9A5.5 5.5 0 0 1 9 3.5V2a7 7 0 0 0-7 7h1.5ZM9 3.5A5.5 5.5 0 0 1 14.5 9H16a7 7 0 0 0-7-7v1.5Zm3.89 10.45 3.83 3.83 1.06-1.06-3.83-3.83-1.06 1.06ZM14.5 9a5.48 5.48 0 0 1-1.61 3.89l1.06 1.06A6.98 6.98 0 0 0 16 9h-1.5Zm-1.61 3.89A5.48 5.48 0 0 1 9 14.5V16a6.98 6.98 0 0 0 4.95-2.05l-1.06-1.06Z"></path>
          </svg>
        </div>
        <input type="text"  class="w-full bg-white pl-2 text-base font-semibold outline-0" placeholder="" id="" />
        <input type="button" value="Search" class="bg-blue-500 p-2 rounded-tr-lg rounded-br-lg text-white font-semibold hover:bg-blue-800 transition-colors"/>
      </div>
    </div>
  </div>
  <div>
    <!-- Gogole Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap"
    rel="stylesheet" />

<!-- AlpineJS -->
<script
    defer
    src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<!-- Tailwind -->
<script src="https://cdn-tailwindcss.vercel.app/"></script>

<style>
    section {
        font-family: "Poppins", sans-serif;
    }
</style>



<!-- Notes -->
<!--<section class="flex flex-col items-center justify-center mb-22">
    <span class="text-center font-bold my-20">
        <a
            href="https://egoistdeveloper.github.io/twcss-to-sass-playground/"
            target="_blank"
            class="text-blue-600">
            Convetert to SASS
        </a>

        <hr class="my-4" />

        <a
            href="https://unsplash.com/s/photos/coffee"
            target="_blank"
            class="text-blue-600">
            Image Source
        </a>

        <hr class="my-4" />

        <p>
            <a
                href="https://github.com/EgoistDeveloper/my-tailwind-components/blob/main/src/components/responsive-card-list.html"
                target="_blank"
                class="text-blue-600">
                Source Code
            </a>
            |
            <a
                href="https://egoistdeveloper.github.io/my-tailwind-components/./src/components/responsive-card-list.html"
                target="_blank"
                class="text-blue-600">
                Full Preview
            </a>
        </p>

        <hr class="my-4" />

        <p>⚠️ This template follows browser theme</p>
    </span>
</section>
-->

<!-- Card List Section -->
<section x-data="xData()" class="bg-gray-100 dark:bg-gray-900 py-10 px-12">
    <!-- Card Grid -->
    <div
        class="grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <template x-for="post in posts">
            <!-- Card Item -->
            <div
                class="my-8 rounded shadow-lg shadow-gray-200 dark:shadow-gray-900 bg-white dark:bg-gray-800 duration-300 hover:-translate-y-1"
                x-for="(post, index) in posts">
                <!-- Clickable Area -->
                <a _href="link" class="cursor-pointer">
                    <figure>
                        <!-- Image -->
                        <img
                            :src="post.image + '?auto=format&fit=crop&w=400&q=50'"
                            class="rounded-t h-72 w-full object-cover" />

                        <figcaption class="p-4">
                            <!-- Title -->
                            <p
                                class="text-lg mb-4 font-bold leading-relaxed text-gray-800 dark:text-gray-300"
                                x-text="post.title">
                                <!-- Post Title -->
                            </p>

                            <!-- Description -->
                            <small
                                class="leading-5 text-gray-500 dark:text-gray-400"
                                x-text="post.description">
                                <!-- Post Description -->
                            </small>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </template>
    </div>
</section>

<script>
    function xData() {
        /**
         * Shuffle an array
         * @param {Array} array
         * @source https://stackoverflow.com/a/2450976/6940144
         */
        function shuffle(array) {
            let currentIndex = array.length,
                randomIndex;

            // While there remain elements to shuffle.
            while (currentIndex != 0) {
                // Pick a remaining element.
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;

                // And swap it with the current element.
                [array[currentIndex], array[randomIndex]] = [
                    array[randomIndex],
                    array[currentIndex],
                ];
            }

            return array;
        }

        const posts = [
            {
                image:
                    "https://images.unsplash.com/photo-1495474472287-4d71bcdd2085",
                 },
            {
                image:
                    "https://images.unsplash.com/photo-1512034400317-de97d7d6c3ed",
               },
            {
                image:
                    "https://images.unsplash.com/photo-1445077100181-a33e9ac94db0",
                },
            {
                image:
                    "https://images.unsplash.com/photo-1459257868276-5e65389e2722",
                 },
        ];

        return {
            posts: [
                ...shuffle(posts),
                ...shuffle(posts),
                ...shuffle(posts),
                ...shuffle(posts),
                ...shuffle(posts),
            ],
        };
    }
</script>
  </div>
  </div>
</body>
</html>

{% endblock %}