<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChackPoint</title>
    <link rel="stylesheet" href="{%  static 'tools/css/listout.css' %}">
</head>
<body>
    <!-- Menu Part -->
    <div class="menu">
                                                
        <ul class="list">
            <li><a href="/home">Home</a></li>
            <li><a href="/ClassHomePage">Class</a></li>
            <li><a href="/NotesHome">Notes</a></li>
            <li><a href="/mcq">MCQ</a></li>
            <li><a href="/ToolMenu">Tools</a></li>
        </ul>
    
    </div>
    <div class="total">
        <div class="body1">
            <video autoplay muted loop class="myVideo">
                <source id="src" src="{%  static 'tools/images/video2.mp4' %}" type="video/mp4">

            </video>
    </div>
    <div class="box">
        <div class="inner">
            
            <div class="img">

            </div>
            <h1> Tools </h1>
            <h2 style="margin-top: -26px;font-size: 15px;">All useful Tools are here</h2>

            <button class="btn" onclick="Changedir(1)">Calculator</button>
            <button class="btn" onclick="Changedir(2)">Translator</button>
            <button class="btn" onclick="Changedir(3)">Dictionary</button>
            <button class="btn" onclick="Changedir(4)">TextToVoice</button>
            <button class="btn" onclick="Changedir(5)">KeyWordToPara</button>
            <button class="btn" onclick="Changedir(6)">KeyWordToAudio</button>
            <button class="btn" onclick="Changedir(7)">KeyWordToImage</button>
            <button class="btn" onclick="Changedir(8)">Text To Handwriting</button>


            
            



        </div>
    </div>

<script>

    function Changedir(btn){
        console.log("1")
        if(btn === 1){
            document.location = "calculator";
        }
        else if(btn === 2){
            document.location = "trans";
        }
        else if(btn === 3){
            document.location = "Dictinary";
        }
        else if(btn === 4){
            document.location = "TexttoSound";
        }
        else if(btn === 5){
            document.location = "KeywordToPara";
        }
        else if(btn === 6){
            document.location = "KeyWordToAudio";
        }
        else if(btn === 7){
            document.location = "KeyWordToImage";
        }
        else if(btn === 8){
            document.location = "TexttoHandWritten";
        }
    }

</script>
    
</body>
</html>