<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChackPoint</title>
    {%load static%}

    <link rel="stylesheet" href="{% static 'tools/css/listout.css'%}">
    
</head>
<body>
    <!-- Menu Part -->
    <div class="menu">
                                                
        <ul class="list">
            <li><a href="/home">Home</a></li>
            <li><a href="/ClassHomePage">Class</a></li>
            <li><a href="/NotesHome">Notes</a></li>
            <li><a href="/mcq">MCQ</a></li>
            <li><a href="/ToolMenu">Tools</a></li>
        </ul>
    
    </div>
    <div class="total">
        <div class="body1">
            <video autoplay muted loop class="myVideo">
                <source id="src" src="{% static 'tools/images/video2.mp4'%}" type="video/mp4">
            </video>
    </div>
    <div class="box">
        <div class="inner" style="margin-top: 230px;">
            
            <div class="img">

            </div>
            <h1> Text To Voice </h1>
            <h2 style="margin-top: -26px;font-size: 15px;"></h2>
            <textarea style="width: 214px;height: 91px;box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;border-radius: 14px;border: none;outline: none;margin-top: 32px;" class="text"  id="text" placeholder="Enter the text"></textarea>
            <select name="source" id="source" style="height: 29px;box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;border-radius: 14px;border: none;outline: none;margin-top: 32px;">
                <option value="tamil">tamil</option>
                <option value="english">english</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <button class="btn" id="btn" onclick="choose_file()">convert</button>
            

<script>
    function choose_file() {

        var textbox1 = document.getElementById("text").value;
        var checkbox1 = document.getElementById("source").value;
        
        console.log(textbox1,checkbox1);
        
        fetch("/texttovoice", {
             method: "POST",
             body: JSON.stringify({ Textbox1: textbox1,Checkbox1:checkbox1 }),
           }).then((_res) => _res.json())
           .then(_data => {
               console.log(_data.translated)
           });
         
    }
</script>

</body>
</html>