{% extends 'student/studentbase.html' %}
{% block content %}
    <h1>Google Translate</h1>
    <form method="post" action="trans">
        {% csrf_token %}
        <label for="text">Enter text:</label>
        <input type="text" name="text" required>
        <br><br>
        <label for="source_lang">Select source language:</label>
        <select name="source_lang" required>
              {% for code, name in LANGUAGES.items %}
                  <option value="{{ code }}">{{ name }}</option>
              {% endfor %}
        </select>
        <br><br>
        <label for="target_lang">Select target language:</label>
        <select name="target_lang" required>
              {% for code, name in LANGUAGES.items %}
                  <option value="{{ code }}">{{ name }}</option>
              {% endfor %}
        </select>
        <br><br>
        <button type="submit">Translate</button>
    </form>
    {% if translation %}
        <hr>
        <h2>Translation:</h2>
        <p>{{ translation.text }}</p>
    {% endif %}


    {% endblock content %}