.myvideo{
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
}
.menu{
    position: fixed;
    width: 100%;
    display: flex;
    height: 64px;
    margin: -9px;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: flex-end;
    z-index: 3;
}
.list{
    display: flex;
    list-style: none;
}
.list li{
    height: 46px;
    bottom: 0px;
    width: 86px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.list li:hover{
    background-color: #a1a4a7;
    transition: 2s;
    border-radius: 30px;
}
.list a:hover{
    color: black;
}
.list a{
    color: aliceblue;
    text-decoration: none;
}


.inner{
    border: 2px solid #c5c5c5;
    position: relative;
    display: flex;
    margin-top: 21px;
    height: fit-content;
    box-shadow: 16px 11px 20px 2px #9c9d9f;
    background-color: #ecf0f3;
    width: 301px;
    flex-direction: column;
    border-radius: 32px;
    padding-bottom: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width : 600px) {
    .inner{
        border: 2px solid #c5c5c5;
        position: relative;
        display: flex;
        margin-top: 21px;
        height: fit-content;
        box-shadow: 16px 11px 20px 2px #9c9d9f;
        background-color: #ecf0f3;
        width: 301px;
        flex-direction: column;
        border-radius: 32px;
        padding-bottom: 20px;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
.box{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.img{
    width: 69px;
    margin-top: -45px;
    height: 69px;
    background-size: cover;
    background-image: url(list.webp);
    border: 2px solid black;
    border-radius: 85px;
}
.email{
    width: 214px;
    height: 45px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    border-radius: 14px;
    border: none;
    margin-top: 32px;
    outline: none;
}
.PassWord{
    width: 214px;
    height: 45px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    border-radius: 14px;
    border: none;
    outline: none;
    margin-top: 32px;
}
::placeholder{
    padding: 5px;
}
.btn{
    margin-top: 40px;
    width: 193px;
    color: #fff;
    box-shadow: 3px 3px 20px 0px #afafaf;
    background-color: #02da30ad;
    border: none;
    height: 43px;
    border-radius: 22px;

}
.btn:hover{
    box-shadow: 3px 3px 20px 0px #02cbda;
    transition: 1s;

}

